* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.left {
    height: 100vh;
}

#heroimg {
    width: 100vw;
    height:650px !important;
}

.left, #right {
    width: 100vw;
}

#right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rinnerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    width: 80px;
}

.rinnerDiv input {
    width: 70vw;
    padding: 9px;
    border-radius: 6px;
    border: 1px solid rgb(185, 184, 184);
}

    .rinnerDiv input::placeholder {
        text-align: center;
        color: rgb(172, 174, 174);
    }

.rinnerDiv label {
    color: rgb(172, 174, 174);
    font-size: 12px;
}

.rinnerDiv button {
    width: 70vw;
    padding: 9px;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: rgb(11, 100, 178);
}

.rinnerDiv2 {
    width: 80%;
    margin-left: 73px;
}

    .rinnerDiv2 label {
        font-size: 12px;
        color: rgb(72, 71, 71);
    }

.titles {
    font-weight: 600;
}

#hr {
    width: 100%;
    margin: 20px 0;
    padding-top: 1px;
    background-color: rgb(192, 188, 188);
}

/*@media only screen and (max-width: 410px) 
{
    #right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 400px;
    }
    #heroimg {
        height: 90vh;
    }
}*/

@media only screen and (min-width: 480px) and (max-width: 1800px) 
{

    body {
        width: 100vw;
        overflow-x: hidden;
    }

    section {
        display: flex;
        flex-direction: row;
    }

    /*.left {
        height: 610px;
        overflow: hidden;
    }
*/
    #heroimg {
        width: 50vw;
        height: 620px;
    }

    #logo {
        width: 100px;
    }

    #right {
        padding: 0px;
    }

    .rinnerDiv input, .rinnerDiv button {
        width: 25vw;
    }

    .rinnerDiv2 {
        width: 60%;
    }

        .rinnerDiv2 label {
            font-size: 14px;
        }

}
@media only screen and (width<= 600px) 
{
  /*  .rinnerDiv 
    {
        margin-top:386px;
    }*/
    #right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
/*        margin-top: 400px;*/
    }

    #heroimg {
        height: 90vh;
    }
}