<div id="menubar">
    <i class="bi bi-list hamburgerMenu"></i>
    <img src="~/images/icon/home_icon-removebg-preview.png" />
    <img src="~/images/Icon/Apps_icon-removebg-preview.png" />
    <img src="~/images/Icon/Profile-removebg-preview (1).png" />
</div>