<link href="~/css/login.css" rel="stylesheet" />
<img class="logoimg" src="/images/your_sobha/sobha-logo-digital-sm.svg">
<body class="main_wrapper">
    <div class="container">
        <img src="~/images/login_page/your sobha_intranet.png" />

        <div class="login_btn_wrapper">

            <a style="color:white; text-decoration:none;" class="btn-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn"> <button>Sign In</button></a>
        </div>
    </div>
</body>


