@model Sobha_Application.Models.OrgSpotlightListView;
<link href="~/css/onboarding.css" rel="stylesheet" />
<style>
	body {
		font-family: sans-serif;
		margin: 0;
		padding: 20px;
	}

	.terms-container {
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px;
		height: 700px; /* Adjust height as needed */
		overflow-y: scroll;
	}

	.terms {
		line-height: 1.5;
	}

	.checkbox-container {
		margin-top: 20px;
	}

		.checkbox-container input {
			margin-right: 5px;
		}

	.submit-button {
		display: block;
		margin-top: 10px;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		background-color: #4CAF50;
		color: white;
		cursor: pointer;
	}
</style>

<body>
	<div class="terms-container">
		<p class="terms">
	<p>
		<h1 style="text-align: center;">SOBHA LIMITED</h1> 
	</p>
		<p>
		<h1 style="text-align: center;">CODE OF CONDUCT</h1> 
	</p>
		<ol>
			<li>
   	<span class="onboarding14Regbold">PREAMBLE: </span>
	<br />
	<br />
	<p>
		<span class="onboarding14Regbold">PASSION AT WORK </span>
			has been the driving force of SOBHA since its inception. By formulating a Code of Conduct, the commitment of Passion at Work is further reinforced in providing a greater commitment by the Board of Directors and Senior Management Personnel of the Company towards ethical values, social responsibility, transparency, accountability, fairness, integrity and compliance with the existing legislation so as to ensure that CORPORATE GOVERNACE is implemented in its true letter and spirit and all the stakeholders of the company benefit in the long run by way of sustained growth and value addition.
	</p>
			</li>
			<li>
	<span class="onboarding14Regbold">SCOPE OF THE CODE: </span>
	<p>
			The persons to whom it is applicable shall follow the code in its true letter and spirit and ensure that the same shall not be looked upon as a mere statutory requirement.
	</p>
			</li>
			<li>
	<span class="onboarding14Regbold">DEFINITIONS AND APPLICABILITY: </span>
	<br /><p>
				<span class="onboarding14Regbold">A. BOARD MEMBERS: </span><br /><br /> <p>
			Board Members shall mean the Directors on the Board of the Company.
</p>
				<span class="onboarding14Regbold">B. SENIOR MANAGEMENT: </span> <br /><br />
				<p>
				Senior Management shall mean the officers and personnel of the listed entity who are members of its core management team, excluding the Board of Directors, and shall also comprise all the members of the management one level below the Chief Executive Officer or Managing Director or Whole Time Director or Manager (including Chief Executive Officer and Manager, in case they are not part of the Board of Directors) and shall specifically include the functional heads, by whatever name called and the Company Secretary and the Chief Financial Officer.
		</p>
		<p> 
		The following personnel are deemed as the Senior Management Personnel of the Company:
		</p>
		<ul>
			<li>
		     Key Managerial Personnel or Key Executives [Chief Financial Officer and Company Secretary]
			</li>
			<li>
		    Regional Office and Area Office Heads
			</li>
			<li>
		   Head of the Contractual Operations
		   </li>
		   <li>
		     Head of the Manufacturing Divisions [Glazing and Metal Works Division,
		      Concrete Products Division and Interiors Divisions (including Mattresses)]
					</li></p>
		</ul>
			</li>

			<br />
			<li>
	<span class="onboarding14Regbold">OBJECTIVES OF THE CODE: </span>
	<br />
	<p>
		This code of conduct directs the Board Members and the Senior Management
		Personnel of the Company to ensure that
	</p>
	<p>
	<ol>
		<li>The highest standards of integrity and honesty are promoted throughout the organization.</li>
		<li>Protection of the assets of the Company.</li>
		<li>Compliance with the existing laws and regulations affecting the business.</li>
		<li>Maintain a climate whereby every personnel of the Company are valued and he contributes to the fullest of his potential.</li>
		<li>Creating value and wealth to all the stakeholders of the Company in long run.</li>
					</ol>
				</p>
			</li>
		
			<li>
		
		<span class="onboarding14Regbold">THE CODE: </span>
				<p>
		<span class="onboarding14Regbold">(i) HONESTY AND TRANSPARENCY: </span>
	<br />
	</P> <p>
		To act in an honest and transparent manner and within the
		accepted ethical framework in all situations. To act with
		professional integrity in respect of all the transactions which
		have a direct or an indirect bearing or which can be influenced
		in the working of the company.
	</p>

	<span class="onboarding14Regbold">(ii) PRICE SENSITIVE INFORMATION: </span>
	<br />
	<p>
		The Board Members and the Senior Management personnel
		shall not divulge or disclose any Price Sensitive Information to
		any person or to any section of the media unless the same is
		vetted by the Board in its Meeting or persons/committees
		authorized by it, and shall be bound by the confidentiality
		clause mentioned elsewhere in this code.
	</p>

	<span class="onboarding14Regbold">(iii) INSIDER TRADING: </span>
	<br />
	<p>
		All the Employees and directors should observe the
		applicable laws and regulations including the Company's policies
		and codes as applicable to them with respect to the purchase and
		sale of the Company's securities. All non-public information
		about the Company should be considered confidential information.
		It is the responsibility of each employee and director to become
		familiar with and understand these laws, regulations, policies
		and codes, and to seek further explanations and advice concerning
		their interpretation, if required.
	</p>

	<span class="onboarding14Regbold">(iv) CONFLICT OF INTEREST: </span>
	<br />
	<p>
		The Board members and the Senior Management Personnel of the
		Company shall avoid business, relationship or activities, which
		may be in conflict of interest of Sobha or the group companies.
		Conflict of interest may not always be clear-cut. Any question
		therefore about a Board Member's or senior management personnel's
		actual or potential conflict of interest with Sobha should be
		brought promptly to the attention of the Chairman of the Board,
		who will review the question and determine a proper course of
		action, including whether consideration or action by the full
		board is necessary. Directors or senior management personnel
		involved in any conflict or potential conflict situation shall
		exclude themselves from any discussion or decision relation
		thereto.
	</p>

	<span class="onboarding14Regbold">(v) COMPLIANCE WITH THE STATUTES: </span>
	<br />
	<p>
		The Board members and the Senior Management personnel
		shall ensure that in the course of their functioning or
		employment, they shall endeavor to ensure that the management is
		complying with the applicable laws, rules and regulations that
		govern the conduct of the Company.
	</p>

	<span class="onboarding14Regbold">(vi) PROPRIETY FUNCTION: </span>
	<br />
	<p>
		In carrying out their duties and responsibilities, all
		employees and directors should endeavor to protect the Company's
		assets and propriety information, and ensure that the same is
		being used by the Company and its employees only for legitimate
		business purposes of the Company. Any suspected incident of
		fraud, mismanagement of Company's assets or theft should be
		immediately reported for investigation to the Chairman of the
		Board or such other person as designated in this regard.
	</p>

	<span class="onboarding14Regbold">(vii) GIFTS AND CHARITABLE CONTRIBUTIONS: </span>
	<br />
	<p>
		No Board Member & Senior Management of the Company or
		member of his or her immediate family, shall (directly or
		indirectly) solicit, accept or retain any gift, entertainment,
		trip, discount, service, or other benefit from any organization
		or person doing business or competing with the Company, other
		than (i) modest gifts or entertainment as part of normal business
		courtesy and hospitality that would not influence, and would not
		reasonably appear to be capable of influencing, such person to
		act in any manner not in the best interest of the Company or (ii)
		acceptance of a nominal benefit that has been disclosed to the
		Company. No Gifts shall be accepted by any of the aforesaid
		persons if there is any likely or potential conflict of interest
		with the Company.
	</p>

	<span class="onboarding14Regbold">(viii) CONFIDENTIAL INFORMATION: </span>
	<br />
	<p>
		Board Members and the Senior Management Personnel of the
		Company shall maintain the confidentiality of the information in
		their possession and shall not use for their personal gain or
		otherwise during the course of employment or at any time
		thereafter. The information possessed by the aforesaid members
		shall be used only for the benefit of the Company and shall not
		be inappropriately disclosed.
	</p>

	<span class="onboarding14Regbold">(ix) GENERAL GUIDELINES FOR CONDUCT: </span>
	<br />
	<p>The Directors shall act in the best interests of the Company and shall make reasonable efforts thrive to do the following</p>
	<p>
	<ol>
		<li>Attend the Meetings of the Board of Directors and of the committees formed from time to time.</li>
		<li>To contribute effectively and efficiently the functioning of the Board and the Committees.</li>
		<li>To ensure that the Statutory Compliances are done in a time bound manner and the policies of the Company are complied with.</li>
	</ol>
	</p>
	<p>
	<span class="onboarding14Regbold">(x) ADHERENCE TO THE GLOBAL BENCHMARKS: </span>
	<br />
	</p>
	<p>
		The Board Members as well as the Senior Management shall
		ensure that their functions and actions are in conformity with
		the Global Best Practices and try to set Global Benchmarks so as
		to retain and maximize the Shareholders Value in the long run.
		They shall be committed to supply goods and services of the
		promised quality & standards, backed by after sales service
		consistent with the requirements of the consumers.
	</p>

	<span class="onboarding14Regbold">(xi) FAIR DEALING: </span>
	<br />
	<p>
		In carrying out their duties and responsibilities, the
		Senior Management Personnel of the Company and directors should
		endeavor to deal fairly, and should promote fair dealing by the
		Company, its employees and agents, with customers, suppliers and
		competitors. No employee or director should seek to take unfair
		advantage of anyone (including the Company) through manipulation,
		concealment, abuse of privileged information, misrepresentation
		of material facts or any other unfair dealing practice.
	</p>

	<span class="onboarding14Regbold">(xii) RECORD KEEPING AND REPORTING: </span>
	<br />
	<p>
		The Company shall keep adequate books and records to
		substantiate the Financial Statements of the Company and shall
		ensure that the information kept and issued in the public domain
		is accurate and reflects the Company's transactions and such
		information and the relevant books, records and documents are in
		compliance within the framework of the existing laws of legal
		reporting and the companies policies on internal controls and
		reporting.
	</p>

	<span class="onboarding14Regbold">(xiii) CO OPERATION WITH GROUP AND ASSOCIATE COMPANIES: </span>
	<br />
	<p>
The Management shall cooperate with other group companies and associates companies by sharing physical, human and management resources as long as this does not adversely affect its business interests and shareholders value. In the procurement of products and services, the Company shall give preference to another group company or associate company so long as it can provide these on an arm’s length basis.
	</p>

	<span class="onboarding14Regbold">(xiv) EQUAL OPPORTUNITIES WITHIN THE COMPANY: </span>
	<br />
	<p>
		The Officers shall ensure that equal opportunities are
		provided to all employees of the Company and all qualified
		applicants for employment, without regard to their race, caste,
		religion, color, ancestry, marital status, sex, age & nationality
		and that no discrimination or exploitation is done in this
		regard.
	</p>
		<span class="onboarding14Regbold">(xv) DUTIES OF INDEPENDENT DIRECTORS: </span>
		<p>
			In addition to the aforementioned duties, the Independent Directors shall adhere to the Code for Independent Directors as detailed in Schedule IV of the Companies Act, 2013 as amended from time to time. Code for Independent Directors is reproduced as Appendix to this Code of Conduct.
		</p>

	<span class="onboarding14Regbold">(xvi) NON-COMPLIANCE OF THE CODE: </span>
	<br />
	<p>
		The Board members and the Senior Management personnel
		shall ensure the Compliance of this code in its true letter and
		spirit. The Code is a Public Document and violations of the code
		observed by any person shall be reported to the Chairman of the
		Company and / or the Chairman of the Audit Committee who shall
		have the powers to investigate into the reported violation and a
		report shall be placed in the immediate Audit Committee Meeting
		or the Board Meeting as the case may be and suitable action shall
		be taken as per the consensus arrived at such Meeting.
	</p>

	<span class="onboarding14Regbold">(xvii) AMENDMENT AND WAIVERS OF THE CODE: </span>
	<br />
	<p>
		Any amendment to this Code must be approved by the Board
		of Directors and shall be publicly disclosed as required by any
		applicable law or regulations in force. Any waiver of this Code
		for the benefit of any Senior Management personnel or Director of
		the Company may be made only by the Company's Board of Directors
		and shall be disclosed promptly as required by applicable laws
		and regulations including the rules of any exchange on which the
		Company's securities are listed or traded.
	</p>

	<span class="onboarding14Regbold">(xviii) ACKNOWLEDGEMENT OF RECEIPT OF THE CODE: </span>
	<br />
	<p>
		All Board Members shall acknowledge receipt of this Code
		or any modification(s) thereto, in the acknowledgement form and
		forward the same to the Company Secretary indicating that they
		have received, read, understood and agreed to comply with this
		Code.
	</p>

	<span class="onboarding14Regbold">(xix) PERIODIC REPORTING OF COMPLIANCE: </span>
	<br />
	<p>
		All Board Members and the Senior Management Personnel
		shall affirm compliance with the code on an annual basis at the
		end of financial year of the Company as per the applicable
		reporting requirements.
	</p>
	</p>
			</li>
		</ol>
		<p>
		<h1 style="text-align: center;">Appendix to the Code of Conduct</h1> 
	</p>
 	<p>
		<h1 style="text-align: center;">CODE FOR INDEPENDENT DIRECTORS</h1> 
	</p>

	<p>
The Code is a guide to professional conduct for independent directors. Adherence to these standards by independent directors and fulfilment of their responsibilities in a professional and faithful manner will promote confidence of the investment community, particularly minority shareholders, regulators and companies in the institution of independent directors.
</p>
<ol type="I">
	<li>
		<span class="onboarding14Regbold">Guidelines of professional conduct:</span>
	</li>
	<p>
		An independent director shall:
	</p>
	<ol>
		<li>
		uphold ethical standards of integrity and probity;
		</li>
		<li>
	     act objectively and constructively while exercising his duties;
		</li>
		<li>
			exercise his responsibilities in a bona fide manner in the interest of the company;
		</li>
		<li>
		devote sufficient time and attention to his professional obligations for informed and balanced decision making;
		</li>
		<li>
not allow any extraneous considerations that will vitiate his exercise of objective independent judgment in the paramount interest of the company as a whole, while concurring in or dissenting from the collective judgment of the Board in its decision making;
</li>
<li>
not abuse his position to the detriment of the company or its shareholders or for the purpose of gaining direct or indirect personal advantage or advantage for any associated person;
</li>
<li>
refrain from any action that would lead to loss of his independence;
</li>
<li>
where circumstances arise which make an independent director lose his independence, the Independent director must immediately inform the Board accordingly;
</li>
<li>
assist the company in implementing the best corporate governance practices.
</li>

	</ol>
	<p>
	<li>
		<span class="onboarding14Regbold">Role and functions:</span>
	</li>
	</p>
	<p>
	The independent directors shall:
	</p>
	<ol>
		<li>
help in bringing an independent judgment to bear on the Board’s deliberations especially 
     on issues of strategy, performance, risk management,  resources,  key  appointments  and 
     standards of conduct;
	 </li>
	 <li>
bring an objective view in the evaluation of the  performance  of  board  and  management;
</li>
<li>
scrutinise the performance of management in meeting  agreed  goals  and  objectives  and 
     monitor the reporting of performance;
	 </li>
	 <li>
satisfy themselves on the integrity of financial information and that financial controls and 
     the systems of risk management are robust and defensible;
	 </li>
	 <li>
safeguard the interests of all stakeholders, particularly the minority shareholders;
</li>
<li>
balance the conflicting interest of the stakeholders;
</li>
<li>
determine appropriate levels of remuneration  of  executive   directors,   key   managerial 
     personnel  and  senior  management  and  have a  prime  role  in  appointing  and  where     
     necessary  recommend  removal  of  executive  directors, key managerial  personnel and 
     senior management;
	 </li>
	 <li>
moderate and arbitrate in the interest of the company as a whole, in situations of conflict 
     between management and shareholder’s interest.
	 </li>
</ol>

	<li>
		<p>
		<span class="onboarding14Regbold">Duties:</span>
		</p>
	</li>
	<p>
	The independent directors shall –
	</p>
	<ol>
		<li>
undertake appropriate induction and regularly update and refresh their skills, knowledge and familiarity with the company;
</li>
<li>
seek appropriate clarification or amplification of information and, where necessary, take and follow appropriate professional advice and opinion of outside experts at the expense of the  Company;
</li>
<li>
strive to attend all meetings of the Board of Directors and of the Board committees of which he is  member;
</li>
<li>
participate constructively and actively in the committees of the Board in which they are Chairpersons or members;
</li>
<li>
strive to attend the general meetings of the company;
</li>
<li>
where they have concerns about the running of the company or a proposed action, ensure that these are addressed by the Board and, to the extent that they are not resolved, insist that their concerns are recorded in the minutes of the Board meeting;
</li>
<li>
keep themselves well informed about the company and the external environment in which it operates;
</li>
<li>
not to unfairly obstruct the functioning of an otherwise proper Board or committee of the Board;
</li>
<li>
pay sufficient attention and ensure that adequate deliberations are held before approving Related party transactions and assure themselves that the same are in the interest of the Company;
</li>
<li>
ascertain and ensure that the company has an adequate and functional vigil mechanism and to ensure that the interests of a person who uses such mechanism are not prejudicially affected on account of such use;
</li>
<li>
report concerns about unethical behavior, actual or suspected fraud or violation of the Company’s code of conduct or ethics policy;
</li>
<li>
acting within his authority, assist in protecting the legitimate interests of the company, Shareholders and its employees;
</li>
<li>
not disclose confidential information, including commercial secrets, technologies, advertising and sales promotion plans, unpublished price sensitive information,
</li>
<li>
unless such disclosure is expressly approved by the Board or required by law.
</li>
</ol>

	<li>
		<p>
		<span class="onboarding14Regbold">Manner of appointment:</span>
		</p>
	</li>
	<ol>
		<li>
	Appointment process of independent directors shall be independent of the company Management; while selecting independent directors the Board shall ensure that there is appropriate balance of skills, experience and knowledge in the Board so as to enable the Board to discharge its functions and duties effectively.
	</li>
	<li>
     The appointment of independent director(s) of the company shall be approved at the meeting of the shareholders.
</li>

<li>
The explanatory statement attached to the notice of the meeting for approving the appointment of independent director shall include a statement that in the opinion of the Board, the independent director proposed to be appointed fulfils the conditions specified in the Act and the rules made there under and that the proposed director is independent of the management.
</li>
<li>
The appointment of independent directors shall be formalized through a letter of appointment, which shall set out:
</li>
<ol type="a">
	<li>
	the term of appointment;
	</li>
	<li>
the expectation of the Board from the appointed director; the Board-level committee(s) in which the director is expected to serve and its tasks;
</li>
<li>
the fiduciary duties that come with such an appointment along with accompanying      liabilities;
</li>
<li>
provision for Directors and Officers (D and O) insurance, if any;
</li>
<li>
the Code of Business Ethics that the company expects its directors and employees to follow;
</li>
<li>
the list of actions that a director should not do while functioning as such in the company; and
</li>
<li>
the remuneration, mentioning periodic fees, reimbursement of expenses for participation in the Boards and other meetings and profit related commission, if any.
</li>
	</ol>
<li>
The terms and conditions of appointment of independent directors shall be open for inspection at the registered office of the company by any member during normal business hours.
</li>
<li>
The terms and conditions of appointment of independent directors shall also be posted on the Company’s website.
</li>
</ol>
	<li>
		<p>
		<span class="onboarding14Regbold">Re-appointment:</span>
		</p>
	</li>
	<p>
		     The re-appointment of independent director shall be on the basis of report of performance 
     evaluation.

	</p>
	<li>
		<p>
		<span class="onboarding14Regbold">Resignation or removal:</span>
		</p>
	</li>
	<ol>
		<li>
	The resignation or removal of an independent director shall be in the same manner as is
Provided in sections 168 and 169 of the Act.
</li>
<li>

An independent director who resigns or is removed from the board of directors of the listed entity shall be replaced by a new independent director by listed entity at the earliest but not later than three months from the date of such vacancy.
</li>
<li>
Where the company fulfils the requirement of independent directors in its Board even without filling the vacancy created by such resignation or removal, as the case may be, the requirement of replacement by a new independent director shall not apply.
</li>
</ol>
	<li>
		<p>
		<span class="onboarding14Regbold">Separate meetings:</span>
		</p>
	</li>
	<ol>
	<li>The independent directors of the company shall hold at least one meeting in a year,   
without the attendance of non-independent directors and members of management;
	</li>
 <li>All the independent directors of the company shall strive to be present at such 
 meeting;
 </li>
<li>The meeting shall:
	</li>
	<ol type="a">
		<li>
	        review the performance of non-independent directors and the Board as a whole;
			</li><li>
            review the performance of the Chairperson of the company, taking into account the views of executive directors and non-executive directors;
			</li><li>
            assess the quality, quantity and timeliness of flow of information between the company management and the Board that is necessary for the Board to effectively and reasonably perform their duties.
			</li>
</ol>
</ol>
	<li>
		<p>
		<span class="onboarding14Regbold">Evaluation mechanism:</span>
		</p>
	</li>
	<ol>
	<li>The performance evaluation of independent directors shall be done by the entire Board of Directors, excluding the director being evaluated.
		</li>
 <li>On the basis of the report of performance evaluation, it shall be determined whether to extend or continue the term of appointment of the independent director.
	 </li>
</ol>
	</ol>

	</div>
	<div class="checkbox-container">
		<input type="checkbox" id="agree" name="agree">
		<label for="agree">I have read the company's code of conduct for the financial year 2024-25.</label>
	</div>
	<form method="post" asp-action="updateCode" asp-controller="HomePage">
		<button type="submit" class="submit-button" disabled>Submit</button>
</form>
	 
	<script>
		const checkbox = document.getElementById('agree');
		const submitButton = document.querySelector('.submit-button');

		checkbox.addEventListener('change', function () {
			submitButton.disabled = !this.checked;
		});
	</script>


</body>
